@{
    ViewData["Title"] = "Home Page";
}

<h2>My Movie List</h2>

<p>Hello From our View Template!
    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <img src="~/img/pic2.png" />
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>
</p>
